*{
	margin: 0;
	padding: 0;
	
}

#header{
	background-color: #212A34;
	color: black;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;

}
#logodiv{
	
	display: inline-block;
}
#logoimg{
	margin-left: 50px;
	height: 75px;
	display: block;
}

#nav{
	float: right;
	margin-top: 50px;
	margin-right: 80px;
}


#nav>ul>li{
	float: left;
	color: white;
	list-style: none;
	margin-left: 30px;
	margin-right: 30px;
	font-weight:bold;
	

}
#nav ul li a:link{
	color: white;
	text-decoration: none;
}
#nav ul li a:visited{
	color: white;
}
#nav ul li a:hover{
	color: #87BF4E;
}

ul li ul{
	margin-left: -130px;
	position: absolute;
	font-size: 20px;
	

}

#nav ul li ul li{
	clear: both;
	border-bottom: 1px solid white;
	background-color: #f1c40f;
	color: white;
	font-family: 'Oswald', sans-serif;
	list-style: none;
	text-align: center;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 10px;
	

}
ul li ul li{
	display: none;


}
ul li:hover ul li{
		
		display: block;

}
#nav ul li ul li:hover{
	color: #84BF5C;
}

#sub2 #sub22 li {
	background-color: #1abc9c;
	padding-left: 20px;
	padding-right: 20px;
}
#sub2 #sub22 li:hover{
	color: black;
}

#body{
	padding-top: 30px;
	padding: 10px;
	
}

#bodyimg{
	display: inline-block;
	
}
#bodytxt{
	
	margin-top: 50px;
	min-height: 300px;
	width: 510px;
	float: right;
	color: black;
}

#scndbody{
	
	height: 250px;
	margin-top: 10px;
}
#bodytxt2{
	width: 510px;
	margin-left: 10px;
	float: left;
}

#scnd_img{
	
	float: right;
}

#thirdbody{
	height: 300px;
	
}

#textarea{
	height: 100px;
	
	
}
#para{
	color: black;
	font-family: 'Bubbler One', sans-serif;
	margin-left: 30px;
	font-weight: bold;
}
#footer{
	
	background-color: #212A34;
	padding-top: 10px;
	height: 450px;
}

#fsec{
	margin: auto;
	width: 1100px;
	
	

}
#fnav{

	text-align: center;
	
	
}
#fnav ul{
	display: inline-block;
	list-style: none;
}
#fnav ul li {
	padding: 55px;
	float: left;
}

#fnav a{
	color: white;
	text-decoration: none;
}
#fnav a:hover{
	color: #1abc9c;
}
#social{
	margin-top: -50px;
	height: 120px;
	
	text-align: center;
}

#social>img{
	margin-top: 25px;
	padding: 25px;
}

#add{
	text-align: center;
	margin-top: 20px;
}
#add h2{
	padding-top: -10px;
	font-family: Copperplate;
	color: #3498db;
}
#add p{
	font-family: Courier New;
	color: white;
	margin-bottom: 15px;
}
hr{
	margin: auto;
	width: 1100px;
}
#lpra{
	font-size: 12px;
	margin-top: 8px;
	color: #7f8c8d;
	text-align: center;
}






